/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body
{
    font-family: 'Baloo 2', cursive;
}

h1
{
  font-family: 'Codystar', cursive;
  font-size: 2rem;
  text-align: center;
  color: #E8E8E8;
  font-weight: bolder;
	padding-bottom: 5vh;
}

h2
{
  font-size: 2.5rem;
  text-align: center;
  color: #E8E8E8;
}

.column
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 45vh;
}

.buttons
{
  display: flex;
  justify-content: space-between;
  padding: 6vh 6vw;
}

.buttons a
{
  color: #E8E8E8;
  text-decoration: none;
}

header
{
  background-image: url('../images/ink.jpg');
  background-size: cover;
  height: 87vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.jour, .nuit
{
  background-color: inherit;
  font-size: 2em;
  cursor: pointer;
  border: none;
}

.connexion, .inscription
{
	margin-right: 4vw;
	border: #E8E8E8 .1em solid;
	border-radius: 0.4em;
  background-color: inherit;
  color: #E8E8E8;
  font-size: 1rem;
  cursor: pointer;
	padding: 1.2vh 1.2vw;
}

.connexion:hover, .inscription:hover
{
	border: #122790 .2em solid;
	border-radius: 0.4em;
}

.hamburger-menu
{
	display: flex;
	flex-direction: column;
	border: .1rem solid #E8E8E8;
	border-radius: 1rem;
	padding: 3vh 12vw;
}

.hamburger, .hidden
{
	display: none;
}

.close
{
	font-size: 1rem;
	background-color: inherit;
	color: #E8E8E8;
	cursor: pointer;
	margin-bottom: 1vh;
	display: inline-block;
	padding: 0 1vw;
	border: none;
	text-align: right;
}


nav li
{
  cursor: pointer;
  list-style: none;
	position: relative;
}

ul
{
  display: flex;
  justify-content: space-around;
}

nav
{
  border-top: solid 1px #E8E8E8;
  padding: 3vh 6vw;
}

nav a
{
  color: #E8E8E8;
  text-decoration: none;
	font-size: 1.2rem;
	margin-bottom: 10px;
}

li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #E8E8E8;
  visibility: hidden;
  transform: scaleX(0);
  transition: all .3s ease-in-out;
}

li:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
/***************************************************** MAIN ************************************/
main
{
	margin: 10vh 10vw;
}

.presentation
{
	height: 87vh;
  display: flex;
	flex-wrap: wrap;
}

.presentation h2
{
	color: #122790;
	font-size: 2.5rem;
	text-align: left;
}

/******************************************************CONNEXION **********************************/
.bgConnexion
{
	  background-image: url('../images/ink.jpg');
	  background-size: auto;
	  height: 100%;
	  display: flex;
	  flex-direction: column;
	  justify-content: space-between;
}

.row
{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 6vh 5vw 0 5vw;
}

.accueil
{
	padding: 2vh 1.2vw;
	border: #E8E8E8 .1em solid;
	border-radius: 0.4em;
	background-color: inherit;
	color: #E8E8E8;
	font-size: 1rem;
	cursor: pointer;
}

.row a
{
  color: #E8E8E8;
  text-decoration: none;
}

.formulaireConnexion
{
	display: flex;
	flex-direction: column;
	border: #E8E8E8 solid 1px;
	border-radius: 10px;
	margin: 0 29vw 5vh 29vw;
	padding-bottom: 5vh;
}

.formulaireConnexion h2
{
	margin: 8vh 0;
	font-size: 2.5rem;
  text-align: center;
  color: #E8E8E8;
}

.formulaireConnexion label
{
	color: #E8E8E8;
	text-align: left;
	padding-left: 5vw;
	font-size: 1.3em;
}

.formulaireConnexion input
{
	text-align: left;
	margin: 2vh 5vw;
	padding: 2vh 1vw;
	font-size: 1em;
	border-radius: 10px;
}

.seConnecter
{
	font-size: 1em;
	border-radius: 10px;
	background-color: inherit;
	margin: 7vh 15vw;
	padding: 2vh 0vw;
	color: #E8E8E8;
	cursor: pointer;
}

.seConnecter:hover
{
	border: .2em solid;
	border-radius: 0.4em;
}

.accueil:hover
{
	border: #122790 .2em solid;
}

.pasinscrit
{
	color: #E8E8E8;
	text-align: center;
	font-size: 1.3em;
}

.sinscrire
{
	background-color: inherit;
	border: none;
}

.sinscrire a
{
	text-decoration: none;
	color: #E8E8E8;
	cursor: pointer;
	font-size: 1.2em;
}

.square-mini
{
	display: flex;
	justify-content: center;
	font-size: 0.8em;
	color: #E8E8E8;
}

.square-mini p
{
	padding: 0 2vw;
}

.box-inscription
{
	display: flex;
	flex-direction: column;
	color: #E8E8E8;
	justify-content: center;
	align-items: center;
}

.box-inscription h2
{
	margin: 8vh 0 0 0;
	font-size: 2.5em;
}

.box-inscription p
{
	font-size: 0.8em;
	margin-bottom: 5vh;
}

.check
{
	display: flex;
	flex-direction: column;
}

.check p
{
	color: #E8E8E8;
	padding: 0 0 1vh 5vw;
	font-size: 1.2em;
}

.boxing
{
	display: flex;
	flex-direction: column;
	padding-bottom: 3vh;
}

.boxing input
{
	font-size: 1.2em;
	margin: 2vh 0 2vh 7vw;
}

.boxing label
{
	font-size: 1.2em;
	margin: 2vh 5vw 2vh 0;
	padding-left: 1vw;
}

.check-box
{
	display: flex;
	align-items: center;
}
/****************************************************** THEMES ***********************************/

.themeJour
{
  transition: color 2s, background-color 2s;
}

.themeNuit
{
  transition: color 2s, background-color 2s;
}

.themeJour header
{
  background-image: url('../images/ink.jpg');
  background-position: unset;
}


.themeNuit header
{
  background-image: url('../images/ink.jpg');
  background-position: left;
}

/***************************************************** MEDIA QUERIES *************************************/

@media (min-width: 1200px)
{
	.hamburger
	{
		display: none;
	}

	.cross
	{
		display: none;
	}

	.hamburger-menu
	{
		display: none;
	}

	.hamburger-menu ul
	{
		display: none;
	}

	.connexion, .inscription
		{
	    display: inline;
	  }
}

@media (max-width: 1200px)
{
  .connexion, .inscription
		{
	    display: none;
	  }

	.hamburger
	{
		display: inline-flex;
		font-size: 1.5rem;
		background-color: inherit;
		color: #E8E8E8;
		cursor: pointer;
	}

	.hamburger:hover
	{
		border: #122790 .2em solid;
		border-radius: 0.1em;
	}

	.cross:hover
	{
		color: #122790;
		font-size: 2rem;
	}

	.hamburger-menu ul
	{
		display: inline-flex;
		flex-direction: column;
	}

	.hamburger-menu li
	{
		padding: 1vh;
	}

	.hamburger-menu li:hover
	{
		font-size: 2rem;
	}

	nav
	{
		display: none
	}

	.column
	{
		height: 80vh;
	}

	.column2
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	h2
	{
		font-size: 1.5rem;
	}

	.row
	{
		margin: 4vh 2vw 0 2vw;
	}

	.accueil
	{
		font-size: 0.8rem;
		padding: 1vh 2vw;
	}

	.formulaireConnexion
	{
		margin: 0 8vw 5vh 8vw;
		padding: 0 0 9vh 0;
	}

	.formulaireConnexion h2
	{
		margin: 5vh 0;
    font-size: 2em;
	}

	.formulaireConnexion label
	{
    font-size: 1.1em;
	}

	.formulaireConnexion input
	 {
    margin: 2vh 5vw;
    padding: 1.5vh 1vw;
    font-size: 0.8em;
	}

	.seConnecter
	{
    margin: 5vh 15vw 5vh 15vw;
    padding: 1vh 0;
	}

	.box-inscription h2
	{
    margin: 8vh 0 0 0;
	}

	.check-box input
	{
		margin: 2vh 5vw;
	}
}
