/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****************************************************** THEMES ***********************************/

.themeJour
{
  transition: 								color 2s, background-color 2s;
}

.themeNuit
{
  transition: 								color 2s, background-color 2s;
	background-color: 					#7D8CC5;
}

.themeJour header
{
  background-image: 					url('../images/fur1.jpg');
	background-attachment: 			fixed;
  background-position: 				bottom;
}

.themeNuit header
{
  background-image: 					url('../images/fur1.jpg');
	background-attachment: 			fixed;
  background-position: 				left;
}

/********************************************************** CORPS *************************************/

body
{
    font-family: 							'Baloo 2', cursive;
		background-color: 				#EAEAEA;
}

h1
{
  font-family: 								'Codystar', cursive;
  font-size: 									2rem;
  text-align: 								center;
  color: 											#E8E8E8;
  font-weight: 								bolder;
	padding-bottom: 						5vh;
}

h2
{
  font-size: 									2rem;
  text-align: 								center;
  color: 											#E8E8E8;
}

.column
{
	display: 										flex;
	flex-direction: 						column;
	justify-content: 						space-between;
	height: 										63vh;
}

.buttons
{
  display: 										flex;
  justify-content: 						space-between;
  padding: 										6vh 6vw;
}

.buttons a
{
  color: 											#E8E8E8;
  text-decoration: 						none;
}

header
{
  background-image: 					url('../images/ink.jpg');
  background-size: 						cover;
  height: 										87vh;
  display: 										flex;
  flex-direction: 						column;
  justify-content: 						space-between;
}

.full-screen
{
	height: 										100vh;
}

.jour, .nuit
{
  background-color: 					inherit;
  font-size: 									2em;
  cursor: 										pointer;
  border: 										none;
}

.connexion, .inscription
{
	margin-right: 							4vw;
	border: 										#E8E8E8 .1em solid;
  background-color: 					inherit;
  color: 											#E8E8E8;
  font-size: 									1rem;
  cursor: 										pointer;
	padding: 										1.2vh 1.2vw;
}

.connexion:hover, .inscription:hover, .connexion:active, .inscription:active
{
	border: 										#750202 .2em solid;
}

.hamburger-menu
{
	display: 										flex;
	flex-direction: 						column;
	border: 										.1rem solid #E8E8E8;
	padding: 										3vh 12vw;
}

.hamburger, .hidden
{
	display: 										none;
}

.close
{
	font-size: 									1rem;
	background-color: 					inherit;
	color: 											#E8E8E8;
	cursor: 										pointer;
	margin-bottom: 							1vh;
	display: 										inline-block;
	padding:										0 1vw;
	border: 										none;
	text-align: 								right;
}

.bar
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.searchbar
{
	margin: 3vh 0;
	padding: 2vh 1vw;
	font-size: 1em;
	width: 30vw;
}

nav li
{
  cursor: 										pointer;
  list-style: 								none;
	position: 									relative;
}

ul
{
  display: 										flex;
  justify-content: 						space-around;
}

nav
{
  border-top: 								solid 1px #E8E8E8;
  padding: 										3vh 6vw;
}

nav a
{
  color: 											#E8E8E8;
  text-decoration: 						none;
	font-size: 									1.2rem;
	margin-bottom: 							10px;
}

nav li:before {
  content: 										"";
  position: 									absolute;
  width: 											100%;
  height: 										2px;
  bottom: 										0;
  left: 											0;
  background-color: 					#E8E8E8;
  visibility: 								hidden;
  transform: 									scaleX(0);
  transition: 								all .3s ease-in-out;
}

nav li:hover:before {
  visibility: 								visible;
  transform: 									scaleX(1);
}
/***************************************************** MAIN ************************************/
main
{
	margin: 										10vh 10vw;
}

.presentation
{
	height: 										87vh;
  display: 										flex;
	flex-wrap: 									wrap;
}

.presentation h2
{
	color: 											#22211f94;
	font-size: 									2.5rem;
	text-align: 								left;
}
/****************************************************** ESPACE RECRUTEUR ***************************/

.listesTypesDev ul
{
	list-style: 								none;
	display: 										flex;
	flex-direction: 						column;
}
/****************************************************** CONNEXION **********************************/
.bgConnexion
{
	  background-image: 				url('../images/fur1.jpg');
	  background-size: 					cover;
		background-attachment: 		fixed;
	  height: 									100%;
	  display: 									flex;
	  flex-direction: 					column;
	  justify-content: 					space-between;
}

.row
{
	display: 										flex;
	justify-content: 						space-between;
	align-items: 								flex-start;
	margin: 										3vh 5vw 0 5vw;
}

.accueil
{
	padding: 										2vh 1.2vw;
	border: 										#E8E8E8 .1em solid;
	background-color: 					inherit;
	color: 											#E8E8E8;
	font-size: 									1rem;
	cursor: 										pointer;
}

.row a
{
  color: 											#E8E8E8;
  text-decoration: 						none;
}

.formulaireConnexion
{
	display: 										flex;
	flex-direction: 						column;
	border: 										#E8E8E8 solid 1px;
	margin: 										0 29vw 5vh 29vw;
	padding-bottom: 						5vh;
}

.formulaireConnexion h2
{
	margin: 										8vh 0;
	font-size: 									2.5rem;
  text-align: 								center;
  color: 											#E8E8E8;
}

.formulaireConnexion .labelC
{
	color: 											#E8E8E8;
	text-align: 								left;
	padding-left: 							5vw;
	font-size: 									1.3em;
}

.formulaireConnexion .inputC
{
	text-align: 								left;
	margin: 										4vh 5vw;
	padding: 										2vh 1vw;
	font-size: 									1em;
}

.seConnecter
{
	font-size: 									1em;
	background-color: 					inherit;
	margin: 										5vh 15vw;
	padding: 										2vh 0vw;
	color: 											#E8E8E8;
	cursor: 										pointer;
}

.seConnecter:hover, .seConnecter:active
{
	border: 										.2em solid;
}

.accueil:hover, .accueil:active
{
	border: 										#750202 .2em solid;
}

.pasinscrit
{
	color: 											#E8E8E8;
	text-align: 								center;
	font-size:									1.3em;
}

.sinscrire
{
	background-color: 					inherit;
	border: 										none;
}

.sinscrire a
{
	text-decoration: 						none;
	color: 											#E8E8E8;
	cursor: 										pointer;
	font-size: 									1.2em;
}

.square-mini
{
	display: 										flex;
	justify-content: 						center;
	font-size: 									0.8em;
	color: 											#E8E8E8;
}

.square-mini p
{
	padding: 										0 2vw;
}

.box-inscription, .box-contact
{
	display: 										flex;
	flex-direction: 						column;
	color: 											#E8E8E8;
	justify-content: 						center;
	align-items: 								center;
}

.box-inscription h2
{
	margin: 										8vh 0 0 0;
	font-size: 									2.5em;
}

.box-inscription p
{
	font-size: 									0.8em;
}

.box-contact p
{
	font-size: 									0.8em;
}

.box-contact h2
{
	margin: 8vh 0 1vh 0;
}

.marginb
{
	margin-bottom: 							5vh;
}

.check
{
	display: 										flex;
	flex-direction: 						column;
}

.check p
{
	color: 											#E8E8E8;
	padding:		 								0 0 1vh 5vw;
	font-size: 									1.2em;
}

.boxing
{
	display: 										flex;
	flex-direction: 						column;
	padding-bottom: 						3vh;
}

.boxing input
{
	font-size: 									1.2em;
	margin: 										2vh 0 2vh 7vw;
}

.boxing label
{
	font-size: 									1.2em;
	margin: 										2vh 5vw 2vh 0;
	padding-left: 							1vw;
	color: 											#E8E8E8;
}

.check-box
{
	display: 										flex;
	align-items: 								center;
}

.cgu
{
	font-size: 									0.8em;
	color: 											#E8E8E8;
	margin: 										6vh 0 0 0;
	text-align: 								center;
}

.cgu a, .mdp a
{
	text-decoration: 						underline;
	color: 											#E8E8E8;
}

.mdp
{
	font-size: 									1em;
	color: 											#E8E8E8;
	text-align: 								left;
	margin: 										2vh 0 0 5vw;
}

.long-square
{
	display: 										flex;
	justify-content: 						center;
	padding: 										5vh 5vw;
	margin: 										0 0 10vh 0;
}

.long-square h2
{
	font-size: 									2.5em;
	color: 											#22211f94;
	text-align: 								center;
	line-height: 								6vh;
	letter-spacing: 						0.2vw;
}

.boxL
{
	display: 										flex;
	flex-direction: 						column;
	justify-content: 						space-around;
	align-content: 							space-around;
	align-items: 								flex-start;
	padding: 										5vh 5vw;
	border: 										1px solid #22211f94;
	margin: 										0 0 0 0;
	width: 											30vw;
}

.boxL h3, .boxR h3
{
	font-size: 									2.5em;
	color: 											#22211f94;
	text-align: 								center;
	line-height: 								6vh;
	letter-spacing: 						0.2vw;
	padding: 										6vh 0;
}

.boxR
{
	display: 										flex;
	flex-direction: 						column;
	justify-content: 						space-around;
	align-content: 							space-around;
	align-items: 								flex-end;
	padding: 										5vh 5vw;
	border: 										1px solid #22211f94;
	margin: 										0 0 0 0;
	width: 											30vw;
}

.empty
{
	width: 											50%;
}

.box
{
	display:										flex;
	justify-content: 						center;
}

.champ
{
	display: 										flex;
	flex-direction: 						column;
	align-content: 							center;
	justify-content: 						center;
	padding: 										1vh 1vw;
}

.no-margin
{
	margin-bottom: 							0;
}

select
{
	height: 										8vh;
}

.row-center
{
display: 											flex;
justify-content: 							center;
}

.envoyer
{
	font-size: 									1em;
	font-weight: 								bold;
	border: 										solid 2px #E8E8E8;
	background-color: 					inherit;
	margin: 										5vh 15vw;
	padding: 										2vh 2vw;
	color: 											#E8E8E8;
	cursor: 										pointer;
}

.envoyer:hover, .envoyer:active
{
	border: 										solid 4px #750202;
}

textarea
{
	text-align: 								left;
	margin: 										4vh 5vw 0 5vw;
	padding: 										1.5vh 1vw;
	font-size: 									1.1em;
	color: 											#838383;
	font-family: 								'Baloo 2';
}

select
{
	text-align: 								left;
	margin: 										4vh 5vw 3vh 5vw;
	height: 										8vh;
	font-size: 									1.1em;
	color: 											#838383;
	font-family: 								'Baloo 2';
}

.label-file
{
	color: 											#E8E8E8;
	margin: 										2vh 5vw 0 5vw;
	font-size: 									1.3em;
	font-weight: 								bold;
	border: 										solid 2px #E8E8E8;
	background-color: 					inherit;
	padding: 										2vh 2vw;
	cursor: 										pointer;
	text-align: 								center;
}

.label-file:hover, .label-file:active
{
	border: 										solid 4px #750202;
}

.input-file
{
	opacity: 										0;
}

.preview
{
	color: 											#E8E8E8;
	text-align: 								center;
	margin: 										2vh 5vw;
}

/****************************************************** ACTUALITES  */
.titleactu
{
	display: 										flex;
	flex-direction: 						column;
	padding: 										0 5vw 10vh 5vw;
}

.titleactu h2
{
	margin: 										0 5vw;
	padding: 										5vh 5vw 7vh 5vw;
	color: 											#22211f94;
	font-size: 									2rem;
	text-align: 								center;
}

.typeActu
{
	display: 										flex;
	justify-content: 						space-around;
}

.flexrow
{
	display: 										flex;
	align-items: 								center;
}

.typeActu h4
{
	color: 											#22211f94;
	font-size: 									1.3rem;
	text-align: 								center;
}

.typeActu a
{
	text-decoration: 						none;
	color: 											#22211f94;
}

.yellow
{
	color: 											#EFC936;
}

.small
{
	padding-right: 							1vw;
	font-size: 									1.5em;
}

.medium
{
	padding-right: 							1vw;
	font-size: 									1.7em;
}

.actuGeekzone
{
	background-color: 					#ffdcb926;
	padding: 										5vh 5vw;
}

.actuGeekzone a
{
	text-decoration: 						none;
	color: 											#22211f94;
	text-align: 								left;
}

.actuGeekzone h3, .actuInscription h3, .actuJournee h3
{
	color: 											#22211f94;
	font-size: 									1.7em;
	text-align: 								left;
	padding: 										5vh 0;
}

.actuJson
{
	display: 										flex;
	flex-direction: 						column;
	justify-content: 						space-around;
	align-items: 								center;
	padding: 										1vh 5vw 5vh 5vw;
}

.actuJson ul
{
	display: 										flex;
	flex-direction: 						column;
}

.actuJson li
{
padding: 											0.3vh 0;
}

.actuJson a
{
	text-decoration: 						none;
	font-size: 									1.3em;
	color: 											#22211f94;
	position: 									relative;
	display: 										inline-block;
	padding: 										2vh 0;
}

.actuJson  a:before
{
  content: 										"";
  position: 									absolute;
  width: 											100%;
  height: 										2px;
  bottom: 										0;
  left: 											0;
  background-color: 					#22211f94;
  visibility: 								hidden;
  transform: 									scaleX(0);
  transition: 								all .3s ease-in-out;
}

.actuJson  a:hover:before
{
  visibility: 								visible;
  transform: 									scaleX(1);
}

.actuInscription
{
	padding: 										5vh 5vw;
}

.actuJournee
{
	background-color: 					#22211f94;
	padding: 										5vh 5vw;
}

.trombi
{
	display: 										flex;
	justify-content: 						space-around;
	flex-wrap: 									wrap;
}

.card
{
	position: 									relative;
	height:											314px;
}

.imgTrombi
{
	position: 									absolute;
	z-index: 										1;
}

.textTrombi
{
	position: 									absolute;
	z-index: 										2;
	top: 												228px;
	left: 											32px;
	height:											314px;
	font-size: 									2em;
	color: 											#fff;
}


.textTrombi2
{
 position: 									absolute;
 z-index: 										2;
 top: 												269px;
 left: 												33px;
 height:											314px;
 font-size: 									2em;
 color: 											#fff;
}

/****************** Footer  */
.about_infos {
    position: relative;
    z-index: 200;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    max-width: 1250px;
    margin: 250px auto 450px auto;
}

.aboutInfosItems
{
	position: relative;
	width: 236px;
	padding: 48px 0;
	min-height: 155px;
	text-align: center;
}

/***************************************************** ANIMATION ******************************************/
.tracking-in-expand-fwd {
	-webkit-animation: 									tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: 									tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: 					-0.5em;
    -webkit-transform: 				translateZ(-700px);
            transform: 				translateZ(-700px);
    opacity: 									0;
  }
  40% {
    opacity: 									0.6;
  }
  100% {
    -webkit-transform: 				translateZ(0);
            transform: 				translateZ(0);
    opacity: 									1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: 					-0.5em;
    -webkit-transform: 				translateZ(-700px);
            transform: 				translateZ(-700px);
    opacity: 									0;
  }
  40% {
    opacity: 									0.6;
  }
  100% {
    -webkit-transform: 				translateZ(0);
            transform: 				translateZ(0);
    opacity: 									1;
  }
}


.scale-up-bottom:hover {
	-webkit-animation: 					scale-up-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: 					scale-up-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@-webkit-keyframes scale-up-bottom {
  0% {
    -webkit-transform: 							scale(0.5);
            transform: 							scale(0.5);
    -webkit-transform-origin: 			50% 100%;
            transform-origin: 			50% 100%;
  }
  100% {
    -webkit-transform: 							scale(1);
            transform: 							scale(1);
    -webkit-transform-origin: 			50% 100%;
            transform-origin: 			50% 100%;
  }
}

@keyframes scale-up-bottom {
  0% {
    -webkit-transform: 							scale(0.5);
            transform: 							scale(0.5);
    -webkit-transform-origin: 			50% 100%;
            transform-origin: 			50% 100%;
  }
  100% {
    -webkit-transform: 							scale(1);
            transform: 							scale(1);
    -webkit-transform-origin: 			50% 100%;
            transform-origin: 			50% 100%;
  }
}

/***************************************************** MEDIA QUERIES *************************************/

@media screen and (min-width: 1200px)
{
	.hamburger
	{
		display: 									none;
	}

	.cross
	{
		display: 									none;
	}

	.hamburger-menu
	{
		display: 									none;
	}

	.hamburger-menu ul
	{
		display: 									none;
	}

	.connexion, .inscription
		{
	    display: 								inline;
	  }
}

@media screen and (max-width: 1200px)
{

	.searchbar
	{
		width: 84vw;
		font-size: 0.7em;
	}

  .connexion, .inscription
		{
	    display: 								none;
	  }

	.hamburger
	{
		display: 									inline-flex;
		font-size: 								1.5rem;
		background-color: 				inherit;
		fill: 										#E8E8E8;
		cursor: 									pointer;
	}

	.hamburger:hover, .hamburger:active
	{
		border: 									#750202 .2em solid;
	}

	.cross:hover, .cross:active
	{
		color: 										#22211f94;
		font-size: 								2rem;
	}

	.hamburger-menu ul
	{
		display: 									inline-flex;
		flex-direction: 					column;
	}

	.hamburger-menu li
	{
		padding: 									1vh;
	}

	.hamburger-menu li:hover
	{
		font-size: 								2rem;
	}

	nav
	{
		display: 									none
	}

	.column
	{
		height: 									80vh;
	}

	.column2
	{
		display: 									flex;
		flex-direction: 					column;
		align-items: 							center;
		width: 										100%;
	}

	h2
	{
		font-size: 								1.5rem;
	}

	.row
	{
		margin: 									4vh 2vw 0 2vw;
	}

	.accueil
	{
		font-size: 								0.8rem;
		padding: 									1vh 2vw;
	}

	.formulaireConnexion
	{
		margin: 									0 8vw 5vh 8vw;
		padding: 									0 0 9vh 0;
	}

	.formulaireConnexion h2
	{
		margin: 									5vh 0;
    font-size: 								2em;
	}

	.formulaireConnexion .labelC
	{
    font-size: 								1em;
	}

	.formulaireConnexion .inputC, select
	 {
    margin: 									2vh 5vw;
    padding: 									1.5vh 1vw;
    font-size: 								0.8em;
	}

	.seConnecter
	{
    margin: 									5vh 15vw 5vh 15vw;
    padding: 									1vh 0;
	}

	.box-inscription h2
	{
    margin: 									8vh 0 0 0;
	}

	.box-contact h2
	{
		margin: 									3vh 0 0 0;
	}

	select
	{
	  height: 									6vh;
	}

	textarea
	{
	margin: 										2vh 5vw 0 5vw;
	}

	.label-file
	{
	font-size: 									1em;
	}

	.marginb
	{
	  margin-bottom: 						3vh;
	}

	.check-box input
	{
		margin: 									2vh 5vw;
	}

	.envoyer
	{
		margin: 									0 15vw;
		padding: 									1vh 7vw;
	}

	.pasinscrit
	{
    font-size: 								1em;
	}
}
