/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****************************************************** THEMES ***********************************/

.themeJour
{
	background-color: 					#dacfc49e;
	color: 											black;
}

.themeNuit
{
	background-color: 					#0c0c0c;
	color: 											black;
}

.themeJour header
{
  background-image: 					url('../images/fur2.jpg');
	background-attachment: 			fixed;
  background-position: 				bottom;
}

.themeNuit header
{
	background:                 linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)),url('../images/fur2.jpg');
	background-attachment: 			fixed;
  background-position: 				bottom;
	background-size: 						cover;
}

/********************************************************** CORPS *************************************/

body
{
  font-family: 							'Inconsolata', monospace;
}

main
{
	background-color: 				#dacfc49e;
}

h1
{
  font-family: 								'Codystar', monospace;
  font-size: 									2rem;
  text-align: 								center;
  color: 											#E8E8E8;
  font-weight: 								bolder;
	padding-bottom: 						5vh;
}

header h2
{
  font-size: 									2rem;
  text-align: 								center;
  color: 											#E8E8E8;
}

.column
{
	display: 										flex;
	flex-direction: 						column;
	justify-content: 						space-between;
	height: 										63vh;
}

.buttons
{
  display: 										flex;
  justify-content: 						space-between;
  padding: 										6vh 6vw;
}

.buttons a
{
  color: 											#E8E8E8;
  text-decoration: 						none;
}

.identite a
{
	font-family: 'Inconsolata';
}

header
{
  background-image: 					url('../images/fur2.jpg');
  background-size: 						cover;
  height: 										87vh;
  display: 										flex;
  flex-direction: 						column;
  justify-content: 						space-between;
}

.full-screen
{
	height: 										100vh;
}

.jour, .nuit, .jourbis, .nuitbis
{
  background-color: 					inherit;
  font-size: 									1.2em;
  cursor: 										pointer;
  border: 										none;
}

.connexion, .inscription
{
	margin-right: 							4vw;
	border: 										#E8E8E8 .1em solid;
  background-color: 					inherit;
  color: 											#E8E8E8;
  font-size: 									1rem;
  cursor: 										pointer;
	padding: 										1.2vh 1.2vw;
}

.connexion:hover, .inscription:hover, .connexion:active, .inscription:active
{
	border: 										#E8E8E8 .2em solid;
}

.hamburger-menu
{
	display: 										flex;
	flex-direction: 						column;
	border: 										.1rem solid #E8E8E8;
	padding: 										3vh 12vw;
}

.hamburger, .hidden
{
	display: 										none;
}

.close
{
	font-size: 									1rem;
	background-color: 					inherit;
	color: 											#E8E8E8;
	cursor: 										pointer;
	margin-bottom: 							1vh;
	display: 										inline-block;
	padding:										0 1vw;
	border: 										none;
	text-align: 								right;
}

.bar
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.searchbar
{
	margin: 3vh 0;
	padding: 2vh 1vw;
	font-size: 1em;
	width: 30vw;
	text-decoration: none;
}

nav li
{
  cursor: 										pointer;
  list-style: 								none;
	position: 									relative;
}

ul
{
  display: 										flex;
  justify-content: 						space-around;
}

nav
{
  border-top: 								solid 1px #E8E8E8;
  padding: 										3vh 6vw;
}

nav a
{
  color: 											#E8E8E8;
  text-decoration: 						none;
	font-size: 									1.2rem;
	margin-bottom: 							10px;
}

nav li:before {
  content: 										"";
  position: 									absolute;
  width: 											100%;
  height: 										1px;
  bottom: 										0;
  left: 											0;
  background-color: 					#E8E8E8;
  visibility: 								hidden;
  transform: 									scaleX(0);
  transition: 								all .3s ease-in-out;
}

nav li:hover:before {
  visibility: 								visible;
  transform: 									scaleX(1);
}
/***************** ESPACE RECRUTEUR ET PROFESSIONNEL  */

.aqua
{
	background-color: 				#689c2d;
	padding: 									1vh 1vw;
	border-radius: 						10px;
	display: 									inline-block;
}

.aquamarineb
{
	background-color: 				mediumaquamarine;
	padding: 									1vh 1vw;
	border-radius: 						10px;
	display: 									inline-block;
	cursor: 									pointer;
}

.aqua:hover
{
	background-color: 				#6da52e;
	border: 									1px solid black;
}

.jaune
{
	background-color: 				#d45b49;
	padding: 									1vh 1vw;
	border-radius: 						10px;
	display: 									inline-block;
}

.jaune:hover
{
	background-color: 				#f95c45;
	border: 									1px solid black;
}

.orange
{
	background-color: 				#6a4376;
	padding: 									1vh 1vw;
	border-radius: 						10px;
	display: 									inline-block;
}

.orange:hover
{
	background-color: 				#994bb1;
	border: 									1px solid black;
}

.blue
{
	background-color: 				#2c96b7;
	padding: 									1vh 1vw;
	border-radius: 						10px;
	display: 									inline-block;
}

.blue:hover
{
	background-color: 				#28a6cefa;
	border: 									1px solid black;
}

.white
{
	background-color: 				#c6dfe68a;
	padding: 									1.2vh 1vw;
	margin: 									4vh 0;
	border-radius: 						10px;
	display: 									inline-block;
}

.whites
{
	background-color: 				#c6dfe6;
	padding: 									0.2vh 0.5vw;
	border-radius: 						10px;
	display: 									inline-block;
}

.fonts
{
	font-size: 								0.9em;
}

.margfull2h1w
{
	margin: 									2vh 1vw;
}

.proximite2, .confiance2
{
	display: 										flex;
	flex-wrap: 									wrap;
	justify-content: 						space-around;
	align-items: 								center;
}

.titrecorps
{
    font-size: 								1.7em;
    text-align: 							left;
    padding: 									4vh 0;
}

.proximite h3
{
    font-size: 								1.7em;
    text-align: 							left;
    padding: 									4vh 0;
}

.paddingsquare
{
	padding:										0 5vw 5vh 5vw;
}

.proximite
{
	border-bottom: 							1px solid mediumaquamarine;
	border-top: 								1px solid mediumaquamarine;
	padding:										1vh 0 9vh 0;
}

.city
{
	display: 										flex;
	flex-direction: 						column;
	align-items: 								center;
}

.city h4
{
	padding: 						5vh 0;
}

.city img
{
	border-radius: 			50%;
	filter: 						drop-shadow(2px 4px 6px black)
}

.border-bottom, .verifies, .securise, .simplifie
{
	border-bottom: 							1px solid mediumaquamarine;
}

.border-top, .securise, .confiance
{
	border-top: 								1px solid mediumaquamarine;
}

.paddingsquare p
{
	text-align: 								left;
	padding: 										2vh 0;
	font-size: 									1.2em;
}

.descod
{
	width: 											287px;
	height: 										79px;
}

.flexrow4
{
	display: 										flex;
	align-items: 								center;
	justify-content: 						flex-start;
}

.pad
{
	padding-right: 							2vw;
	font-size: 									1.7em;
}

.pad2
{
	padding-left: 							5vw;
}

.bold
{
	font-weight: 								bold;
}

.paddingsquare2
{
	padding:										0 5vw;
}

.center
{
	display: 										flex;
	flex-direction: 						column;
	align-items: 								center;
	margin: 										5vh 0;
}

.Inscrivez
{
	font-size: 									1.7em;
	padding: 										10vh 2vw;
	margin: 										3vh 0;
	border:											solid 1px;
	border-radius: 							50%;
	background-image: 					url('../images/fur1.jpg');
}

.Inscrivez a
{
	text-decoration: 						none;
	color: 											#E8E8E8;
}

.Inscrivez:hover
{
	background-color:           #293832;
	cursor: 										pointer;
}
/***************** FAQ  */

.question
{
	font-size: 									1.4em;
	padding: 										3vh 0;
	cursor: 										pointer;
	position: 									relative;
	display: 										inline-block;
}

.question::before
{
	  content: 										"";
	  position: 									absolute;
	  width: 											100%;
	  height: 										1px;
	  bottom: 										0;
	  left: 											0;
	  background-color: 					#2d2c2aeb;
	  visibility: 								hidden;
	  transform: 									scaleX(0);
	  transition: 								all .3s ease-in-out;
	}

.question:hover:before
{
	  visibility: 								visible;
	  transform: 									scaleX(1);
}


.display-none
{
	display: none;
}
/***************** MENTIONS LEGALES  */

.titrecorps2
{
	font-size: 								1.2em;
	text-align: 							left;
	padding-bottom: 					2vh;
}

.pad3
{
	padding: 									4vh 0 2vh 0;
}

.box-mention
{
	color: 										#E8E8E8;
	padding: 									0 5vw;
}
/***************** PAGE PROFESSIONNELLE  */

.pagepro
{
display: 										flex;
flex-direction: 						column;
border: 										#E8E8E8 solid 1px;
margin: 										0 7vw 5vh 7vw;
padding: 										5vh 2vw;
background-color: 					#dacfc49e;
color: 											black;
}

.carte
{
	display: 									flex;
	flex-wrap: 								wrap;
	justify-content: 					center;
	align-items: 							stretch;
}

.codystar
{
	font-family: 							'Codystar';
}

.aquabig
{
	font-size: 								3em;
	color: 										aquamarine;
}

.padleft
{
	padding-left: 							3vw;
}

.margleft
{
	margin-left: 							1vw;
}

.row2
{
	display: 										flex;
}

.wrap
{
	flex-wrap: 									wrap;
}

.jcenter
{
	justify-content: 						center;
}

.aiflexend
{
	align-items: 								flex-end;
}

.jsaround
{
	justify-content: 						space-around;
}

.aicenter
{
	align-items: 								center;
}

.flexC
{
	display: 										flex;
	flex-direction: 						column;
	justify-content: 						space-around;
	align-items: 								stretch;
}

.aquamarine
{
	color: 											aquamarine;
}

.buttontag
{
	cursor: 										pointer;
	border-radius: 							10px;
  cursor: 										pointer;
  background-color: 					aquamarine;
  padding: 										1.2vh 1.4vw;
	font-size: 									0.8em;
	font-weight: 								500;
}

.buttontag:hover
{
	border: 										black solid 1px;
	background-color:						#52bb98;
}

.sousTitre
{
	font-size: 									1.6em;

}

.border-bottom-ab
{
	border-bottom: 							1px solid aquamarine;
}

.border-top-ab
{
	border-top: 							1px solid aquamarine;
}

.column3
{
	display: 										flex;
	flex-direction: 						column;
}

.padtop
{
	padding-top: 								3vh;
}

.padbot
{
	padding-bottom: 						4vh;
}

.padfull2
{
	padding: 										2vh 2vw;
}

.marglr
{
	margin-left: 								5vw;
	margin-right: 							5vw;
}

.margtb
{
	margin-top: 								3vh;
  margin-bottom: 							3vh;
}

.margbotxs
{
	margin-bottom: 						2vh;
}

.margtopxl
{
	margin-top: 							14vh;
}

.margtop3
{
	margin-top: 							3vh;
}

.quote-icon
{
	font-size: 								1.5em;
}

.lineheight
{
	line-height: 							4vh;
}

.fontm
{
	font-size: 								1.3em;
	font-weight: 							400;
}

.formprojet
{
	display: 									flex;
  flex-direction: 					column;
  border: 									aquamarine solid 1px;
  margin: 									0 5vw 5vh 5vw;
  padding-bottom: 					5vh;
}

.formprojet .labelC
{
	text-align: 								left;
	padding-left: 							5vw;
	font-size: 									1.3em;
}

.formprojet .inputC
{
	text-align: 								left;
	margin: 										4vh 5vw;
	padding: 										2vh 1vw;
	font-size: 									1em;
}

.labeltag
{
	margin: 										2vh 5vw 0 5vw;
	background-color: 					aquamarine;
	padding: 										2vh 2vw;
	cursor: 										pointer;
	text-align: 								center;
}

.labeltag:hover
{
	background-color:						#52bb98;
}

.formprojet
{
	display: 										none;
}

.proposerA, .propositionE
{
	display: 										none;
}

.formprojet textarea
{
	margin: 										4vh 5vw 4vh 5vw;
}

.formprojet .check p, .formprojet .boxing label
{
	color: 											black;
}

.formprojet .boxing label
{
	font-size: 								1em;
  margin: 									2vh 0vw 2vh 0;
}

/***************** COMMUNAUTE ***********/

.presentation
{
		display: 										flex;
		flex-direction: 						column;
		padding: 										0 5vw 4vh 5vw;
}


.presentation h2
{
	margin: 										0 5vw;
	padding: 										5vh 5vw 7vh 5vw;
	font-size: 									2rem;
	text-align: 								center;
}

.focus
{
	padding: 										2vh 5vw;
	border-bottom: 							1px solid aquamarine;
}

.focus h3, .specia h3
{
  font-size: 									1.7em;
  text-align: 								center;
  padding: 										4vh 0;
}

.focus p, .specia p, .join
{
	text-align: 								center;
	padding: 										2vh 0;
	font-size: 									1.2em;
}

.buttonF
{
	background-color: 					mediumaquamarine;
	padding: 										1.6vh 1.6vw;
	border-radius: 							10px;
	margin: 										6vh 0 4vh 0;
	color: 											#2d2c2aeb;
}


.listeDev
{
	display: 										flex;
	justify-content: 						space-around;
	flex-wrap: 									wrap;
	padding: 										2vh;
	margin: 										4vh 0 9vh 0;
}

.listeDev ul
{

	flex-direction: 						column;
	height: 										71vh;
	margin-bottom: 							5vh;
	margin-top: 								3vh;
}

.listeDev li
{
	list-style: 								none;
	margin: 										1vh 0;
	padding: 										1.5vh;
	cursor: 										pointer;
}


/**************** ESPACE RECRUTEUR ******/

.listesTypesDev ul
{
	list-style: 								none;
	display: 										flex;
	flex-direction: 						column;
}

/************** CONNEXION *************/

.bgConnexion
{
	  background:               linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)),url('../images/fur2.jpg');
		background-size: 					auto, cover;
		background-attachment: 		fixed;
	  height: 									100%;
	  display: 									flex;
	  flex-direction: 					column;
	  justify-content: 					space-between;
}

.row
{
	display: 										flex;
	justify-content: 						space-between;
	align-items: 								flex-start;
	margin: 										3vh 5vw 0 5vw;
}

.accueil
{
	padding: 										2vh 1.2vw;
	border: 										#E8E8E8 1px solid;
	background-color: 					inherit;
	color: 											#E8E8E8;
	font-size: 									1em;
	cursor: 										pointer;
}

.row a
{
  color: 											#E8E8E8;
  text-decoration: 						none;
}

.formulaireConnexion
{
	display: 										flex;
	flex-direction: 						column;
	border: 										#E8E8E8 solid 1px;
	margin: 										0 29vw 5vh 29vw;
	padding-bottom: 						5vh;
}

.formulaireConnexion h2
{
	margin: 										8vh 0;
	font-size: 									2.5rem;
  text-align: 								center;
  color: 											#E8E8E8;
}

.formulaireConnexion .labelC
{
	color: 											#E8E8E8;
	text-align: 								left;
	padding-left: 							5vw;
	font-size: 									1.3em;
}

.formulaireConnexion .inputC
{
	text-align: 								left;
	margin: 										4vh 5vw;
	padding: 										2vh 1vw;
	font-size: 									1em;
}

.seConnecter
{
	font-size: 									1em;
	background-color: 					inherit;
	margin: 										5vh 15vw;
	padding: 										2vh 0vw;
	color: 											#E8E8E8;
	cursor: 										pointer;
}

.seConnecter:hover, .seConnecter:active
{
	border: 										.2em solid;
}

.accueil:hover, .accueil:active
{
	border: 										#E8E8E8 .2em solid;
}

.pasinscrit
{
	color: 											#E8E8E8;
	text-align: 								center;
	font-size:									1.3em;
}

.sinscrire
{
	background-color: 					inherit;
	border: 										none;
}

.sinscrire a
{
	text-decoration: 						none;
	color: 											#E8E8E8;
	cursor: 										pointer;
	font-size: 									1.2em;
}

.square-mini
{
	display: 										flex;
	justify-content: 						center;
	font-size: 									0.8em;
	color: 											#E8E8E8;
}

.square-mini p
{
	padding: 										0 2vw;
}

.box-inscription, .box-contact
{
	display: 										flex;
	flex-direction: 						column;
	color: 											#E8E8E8;
	justify-content: 						center;
	align-items: 								center;
}

.box-inscription h2
{
	margin: 										8vh 0 0 0;
	font-size: 									2.5em;
}

.box-inscription p
{
	font-size: 									0.8em;
}

.box-contact p
{
	font-size: 									0.9em;
}

.box-contact h2
{
	margin: 8vh 0 1vh 0;
}

.marginb
{
	margin-bottom: 							5vh;
}

.check
{
	display: 										flex;
	flex-direction: 						column;
}

.check p
{
	color: 											#E8E8E8;
	padding:		 								0 0 1vh 5vw;
	font-size: 									1.2em;
}

.boxing
{
	display: 										flex;
	flex-direction: 						column;
	padding-bottom: 						3vh;
}

.boxing input
{
	font-size: 									1.2em;
	margin: 										2vh 0 2vh 7vw;
}

.boxing label
{
	font-size: 									1.2em;
	margin: 										2vh 5vw 2vh 0;
	padding-left: 							1vw;
	color: 											#E8E8E8;
}

.check-box
{
	display: 										flex;
	align-items: 								center;
}

.cgu
{
	font-size: 									0.8em;
	color: 											#E8E8E8;
	margin: 										6vh 0 0 0;
	text-align: 								center;
}

.cgu a, .mdp a
{
	text-decoration: 						underline;
	color: 											#E8E8E8;
}

.mdp
{
	font-size: 									1em;
	color: 											#E8E8E8;
	text-align: 								left;
	margin: 										2vh 0 0 5vw;
}

.long-square
{
	display: 										flex;
	justify-content: 						center;
	padding: 										5vh 5vw;
	margin: 										0 0 10vh 0;
}

.box
{
	display:										flex;
	justify-content: 						center;
}

.champ
{
	display: 										flex;
	flex-direction: 						column;
	align-content: 							center;
	justify-content: 						center;
	padding: 										1vh 1vw;
}

.no-margin
{
	margin-bottom: 							0;
}

select
{
	height: 										8vh;
}

.row-center
{
display: 											flex;
justify-content: 							center;
}

.envoyer
{
	font-size: 									1em;
	font-weight: 								bold;
	border: 										solid 2px #E8E8E8;
	background-color: 					inherit;
	margin: 										5vh 15vw;
	padding: 										2vh 2vw;
	color: 											#E8E8E8;
	cursor: 										pointer;
}

.envoyer:hover, .envoyer:active
{
	border: 										solid 4px #E8E8E8;
}

textarea
{
	text-align: 								left;
	margin: 										4vh 5vw 0 5vw;
	padding: 										1.5vh 1vw;
	font-size: 									1.1em;
	color: 											#838383;
	font-family: 								'Inconsolata';
}

select
{
	text-align: 								left;
	margin: 										4vh 5vw 3vh 5vw;
	height: 										8vh;
	font-size: 									1.1em;
	color: 											#838383;
	font-family: 								'Inconsolata';
}

.label-file
{
	color: 											#E8E8E8;
	margin: 										2vh 5vw 0 5vw;
	font-size: 									1.3em;
	font-weight: 								bold;
	border: 										solid 2px #E8E8E8;
	background-color: 					inherit;
	padding: 										2vh 2vw;
	cursor: 										pointer;
	text-align: 								center;
}

.label-file:hover, .label-file:active
{
	border: 										solid 4px #E8E8E8;
}

.input-file
{
	opacity: 										0;
}

.preview
{
	color: 											#E8E8E8;
	text-align: 								center;
	margin: 										2vh 5vw;
}

/*********************************ACTUALITES  */

.titleactu
{
	display: 										flex;
	flex-direction: 						column;
	padding: 										0 5vw 4vh 5vw;
}

.titleactu h2
{
	margin: 										0 5vw;
	padding: 										5vh 5vw 7vh 5vw;
	font-size: 									2rem;
	text-align: 								center;
}

.typeActu
{
	display: 										flex;
	flex-wrap: 									wrap;
	justify-content: 						space-around;
	border: 										solid 1px mediumaquamarine;
	padding: 										7vh 1vw 7vh 1vw;
}

.flexrow
{
	display: 										flex;
	align-items: 								center;
}

.actujoin
{
	padding: 										0 5vw 5vh 5vw;
}

.typeActu h4
{
	font-size: 									1.3rem;
	text-align: 								center;
}

.typeActu a
{
	text-decoration: 						none;
	color: 											black;
}

.green
{
	color: 											#5dd6ad;
}

.small
{
	padding-right: 							1vw;
	font-size: 									1.5em;
}

.medium
{
	padding-right: 							1vw;
	font-size: 									1.7em;
}

.actuGeekzone
{
	padding: 										2vh 5vw;
	border-bottom: 							1px solid aquamarine;
	border-top: 								1px solid aquamarine;
}

.actuGeekzone a
{
	text-decoration: 						none;
	color: 											#2d2c2aeb;
	text-align: 								left;
}

.actuInscription h3, .actuJournee h3, .actujoin h3
{
	font-size: 									1.7em;
	text-align: 								center;
	padding: 										5vh 0;
}

.actuGeekzone h3
{
	font-size: 									1.7em;
	text-align: 								left;
	padding: 										5vh 0;
}

.actuJson
{
	display: 										flex;
	flex-direction: 						column;
	justify-content: 						space-around;
	align-items: 								center;
	padding: 										1vh 5vw 5vh 5vw;
}

.actuJson ul
{
	display: 										flex;
	flex-direction: 						column;
}

.actuJson li
{
padding: 											0.3vh 0;
}

.actuJson a
{
	text-decoration: 						none;
	font-size: 									1.3em;
	color: 											black;
	position: 									relative;
	display: 										inline-block;
	padding: 										2vh 0;
}

.actuJson  a:before
{
  content: 										"";
  position: 									absolute;
  width: 											100%;
  height: 										1px;
  bottom: 										0;
  left: 											0;
	background-color: 					#2d2c2aeb;
  visibility: 								hidden;
  transform: 									scaleX(0);
  transition: 								all .3s ease-in-out;
}

.actuJson  a:hover:before
{
  visibility: 								visible;
  transform: 									scaleX(1);
}

.padIns
{
	padding: 										0 5vw 11vh 5vw;
}

.bordertop-aqua
{
	border-top: 								1px solid aquamarine;
}

.actuJournee
{
	padding: 										1vh 5vw 18vh 5vw;
}

.cartep
{
	border:											1px solid black;
	padding: 										0vh 0vw 3vh 0vw;
	margin-bottom: 							3vh;
	width: 											302px;
	border-radius: 							20px;
}

.marglr1
{
	margin: 										0 1vw;
}

.textc
{
	text-align: 								center;
}

.trombi
{
	display: 										flex;
	justify-content: 						space-around;
	flex-wrap: 									wrap;
	padding: 										5vh 0;
}

.card
{
	position: 									relative;
	height:											314px;
	border: 										solid 1px #000;
	border-radius: 							20px;
}

.imgTrombi
{
	position: 									relative;
	z-index: 										1;
	border-radius: 							20px;
}

.starTrombi
{
 position: 										absolute;
 z-index: 										2;
 top: 												16px;
 left: 												253px;
 font-size: 									1.4em;
 color: 											#fff;
 text-shadow: 								#2d2c2aeb 2px 2px;
}

.starTrombi:hover
{
	color: 											#ffcb06;
}

.starTrombiFull
{
	color: 											#ffcb06;
}

.starTrombiFull:hover
{
	color: 											#fff;
}

.textTrombi
{
	position: 									absolute;
	z-index: 										2;
	top: 												266px;
	left: 											32px;
	font-size: 									1.3em;
	color: 											#fff;
	text-shadow: 								#2d2c2aeb 2px 2px;
}


.textTrombi2
{
 position: 									absolute;
 z-index: 										2;
 top: 												308px;
 left: 												9px;
 font-size: 									0.8em;
 color: 											#2d2c2aeb;
 background-color: 						#2c96b7;
 padding: 										1.3vh 1vw;
 border-radius: 							10px;
}

.priceTrombi
{
 position: 									absolute;
 z-index: 										2;
 top: 												304px;
 left: 												205px;
 font-size: 									0.8em;
 color: 											#2d2c2aeb;
 background-color: 						#689c2d;
 padding: 										1vh 1vw;
 border-radius: 							10px;
}

.join1
{
	text-align: 								center;
	font-size: 									1.4em;
}

.actuJournee a
{
	text-decoration: 						none;
	font-size: 									1em;
	color: 											black;
	cursor: 										pointer;
}

.columnflex a
{
	text-decoration: 						none;
	font-size: 									1em;
	color: 											#E8E8E8;
	cursor: 										pointer;
}

.actuJournee p
{
	font-size: 									1.2em;
	color: 											#E8E8E8;
	padding: 										1.5vh 0;
}

.actuJournee h4
{
	font-size: 									1.7rem;
	text-align: 								center;
	padding: 										0 0 3vh 0;
}

.actuJournee h5
{
	color: 											#E8E8E8;
	padding: 										2vh 0 1vh 0;
	font-size: 									1.5rem;
}

.actuJournee h6
{
	text-align: 								center;
  padding: 										1vh 0;
  font-size: 									1.2em;
}

.columnflex
{
	display: 										flex;
	flex-direction: 						column;
	align-items: 								center;
	border: 										solid 1px #694a36f7;
	padding: 										2vh 1vw;
	margin: 										2vh 2vw;
	width: 											23vw;
	height: 										30vh;
	background:                 linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)),url('../images/fur2.jpg');
	background-size: 					  auto;

}

.flexrow2
{
	display: 										flex;
	align-items: 								center;
	justify-content: 						center;
}

.flexrow3
{
	display: 										flex;
	flex-wrap: 									wrap;
	justify-content: 						center;
	align-items: 								start;
	padding: 										3vh 0;
}

.pgm, .adress, .time
{
	display: 										flex;
	flex-direction: 						column;
	align-items: 								center;
	padding: 										1vh 0;
	color: 											inherit;
}

.bold a
{
	font-weight: 								bold;
	text-decoration: 						underline;
}

.event
{
	position: 									relative;
	display: 										inline-block;
}

.event::before
{
	  content: 										"";
	  position: 									absolute;
	  width: 											100%;
	  height: 										1px;
	  bottom: 										0;
	  left: 											0;
	  background-color: 					#2d2c2aeb;
	  visibility: 								hidden;
	  transform: 									scaleX(0);
	  transition: 								all .3s ease-in-out;
	}

.event:hover:before
{
	  visibility: 								visible;
	  transform: 									scaleX(1);
}


/****************** Footer  */

footer
{
	display: 									flex;
	flex-direction: 					column;
	padding: 									3vh 5vw 3vh 5vw;
	background:               linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)),url('../images/fur2.jpg');
	color: 										#E8E8E8;
}

.rowFoot
{
	display: 									flex;
	flex-wrap: 								wrap;
	justify-content: 					center;
	align-items: 							center;
	align-content: 						center;
	padding: 									10vh 5vw 10vh 5vw;
}

.rowFoot2
{
	display: 									flex;
	justify-content: 					space-around;
	align-items: 							center;
	margin: 									0 3vw;
}

.circle
{
	fill: 										white;
	stroke: 									white;
	width:  									0.6vw;
	height: 									0.6vh;
}

.contactFoot, .talk, .topo
{
	display: 									flex;
	flex-direction: 					column;
	align-items: 							center;
	align-content: 						center;
	padding: 									5vh 2vw;
	line-height: 							2em;
}

.talk h5
{
	font-size: 								1.5em;
}

.legal
{
	display: 									flex;
	flex-wrap: 								wrap;
	justify-content: 					space-between;
	font-size: 								0.9em;
}

.contactFoot a, .legal a
{
	cursor: 									pointer;
	text-decoration: 					none;
	color: 										#E8E8E8;
	font-family: 							'Inconsolata', monospace;
	position: 								relative;
	display: 									inline-block;
}

.contactFoot a::before, .legal a::before
{
	  content: 										"";
	  position: 									absolute;
	  width: 											100%;
	  height: 										1px;
	  bottom: 										0;
	  left: 											0;
	  background-color: 					#E8E8E8;
	  visibility: 								hidden;
	  transform: 									scaleX(0);
	  transition: 								all .3s ease-in-out;
	}

.contactFoot a:hover:before, .legal a:hover:before
{
	  visibility: 								visible;
	  transform: 									scaleX(1);
}


/***************************************************** ANIMATION ******************************************/

.scale-up-bottom:hover {
	-webkit-animation: 					scale-up-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: 					scale-up-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@-webkit-keyframes scale-up-bottom {
  0% {
    -webkit-transform: 							scale(0.5);
            transform: 							scale(0.5);
    -webkit-transform-origin: 			50% 100%;
            transform-origin: 			50% 100%;
  }
  100% {
    -webkit-transform: 							scale(1);
            transform: 							scale(1);
    -webkit-transform-origin: 			50% 100%;
            transform-origin: 			50% 100%;
  }
}

@keyframes scale-up-bottom {
  0% {
    -webkit-transform: 							scale(0.5);
            transform: 							scale(0.5);
    -webkit-transform-origin: 			50% 100%;
            transform-origin: 			50% 100%;
  }
  100% {
    -webkit-transform: 							scale(1);
            transform: 							scale(1);
    -webkit-transform-origin: 			50% 100%;
            transform-origin: 			50% 100%;
  }
}

.rotate-in-hor:hover {
	-webkit-animation: 					rotate-in-hor 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: 					rotate-in-hor 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes rotate-in-hor {
  0% {
    -webkit-transform: 				rotateX(360deg);
            transform: 				rotateX(360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: 				rotateX(0deg);
            transform: 				rotateX(0deg);
    opacity: 1;
  }
}
@keyframes rotate-in-hor {
  0% {
    -webkit-transform: 				rotateX(360deg);
            transform: 				rotateX(360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: 				rotateX(0deg);
            transform: 				rotateX(0deg);
    opacity: 1;
  }
}

.focus-in-contract:hover {
	-webkit-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.shadow-drop-2-center:hover {
	-webkit-animation: 												shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: 												shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

/***************************************************** MEDIA QUERIES *************************************/

@media screen and (min-width: 1200px)
{
	.hamburger
	{
		display: 									none;
	}

	.cross
	{
		display: 									none;
	}

	.hamburger-menu
	{
		display: 									none;
	}

	.hamburger-menu ul
	{
		display: 									none;
	}

	.connexion, .inscription
		{
	    display: 								inline;
	  }
}

@media screen and (max-width: 1200px)
{

	.searchbar
	{
		width: 										84vw;
		font-size: 								0.7em;
	}

  .connexion, .inscription
		{
	    display: 								none;
	  }

	.hamburger
	{
		display: 									inline-flex;
		font-size: 								1.5rem;
		background-color: 				inherit;
		fill: 										#E8E8E8;
		cursor: 									pointer;
	}

	.hamburger:hover, .hamburger:active
	{
		border: 									#E8E8E8 .1em solid;
	}

	.cross:hover, .cross:active
	{
		color: 										#E8E8E8;
		font-size: 								1.7rem;
	}

	.hamburger-menu ul
	{
		display: 									inline-flex;
		flex-direction: 					column;
	}

	.hamburger-menu li
	{
		padding: 									1vh;
	}

	.hamburger-menu li:hover
	{
		font-size: 								1.3rem;
	}

	nav
	{
		display: 									none
	}

	.column
	{
		height: 									80vh;
	}

	.column2
	{
		display: 									flex;
		flex-direction: 					column;
		align-items: 							center;
		width: 										100%;
	}

	h2
	{
		font-size: 								1.5rem;
	}

	.row
	{
		margin: 									4vh 2vw 0 2vw;
	}

	.accueil
	{
		font-size: 								0.8rem;
		padding: 									1vh 2vw;
	}

	.formulaireConnexion
	{
		margin: 									0 8vw 5vh 8vw;
		padding: 									0 0 9vh 0;
	}

	.formulaireConnexion h2
	{
		margin: 									5vh 0;
    font-size: 								2em;
	}

	.formulaireConnexion .labelC
	{
    font-size: 								1em;
	}

	.formulaireConnexion .inputC, select
	 {
    margin: 									2vh 5vw;
    padding: 									1.5vh 1vw;
    font-size: 								0.8em;
	}

	.seConnecter
	{
    margin: 									5vh 15vw 5vh 15vw;
    padding: 									1vh 0;
	}

	.box-inscription h2
	{
    margin: 									8vh 0 0 0;
	}

	.box-contact h2
	{
		margin: 									3vh 0 0 0;
	}

	select
	{
	  height: 									6vh;
	}

	textarea
	{
	margin: 										2vh 5vw 0 5vw;
	}

	.label-file
	{
	font-size: 									1em;
	}

	.marginb
	{
	  margin-bottom: 						3vh;
	}

	.check-box input
	{
		margin: 									2vh 5vw;
	}

	.envoyer
	{
		margin: 									0 15vw;
		padding: 									1vh 7vw;
	}

	.pasinscrit
	{
    font-size: 								1em;
	}

	.flexrow
	{
		padding-bottom: 					5vh;
	}

	.actuGeekzone h3, .actuInscription h3, .actuJournee h3
	{
	    padding: 								2vh;
	}

	.columnflex
	{
		width: 										50vw;
	}

	.typeActu
	{
		padding: 										4vh 1vw 1vh 1vw;
	}

	.card
	{
		padding-bottom: 						8vh;
		border:											none;
	}

	.rowFoot
	{
		display: 										flex;
		flex-direction: 						column;
	}

	.Inscrivez
	{
		padding: 										10vh 2vw;
	}

	.buttonF
	{
		margin-top: 								0;
	}

	.presentation h2
	{
		font-size: 									1.8rem;
	}

	.typeActu h4
	{
		font-size: 									1.1rem;
	}

	.presentation
	{
    padding: 										0 2vw 4vh 2vw;
	}

	.typeActu
	{
		flex-direction: 						column;
	}

	.flexrow
	{
		justify-content: 						space-around;
	}

	.flexrow2
	{
		padding: 										0vh 6vw;
	}

	.padIns
	{
    padding: 										0 5vw 6vh 5vw;
	}

	.pad
	{
		padding-right: 							6vw;
	}

	.margtopxl
	{
    margin-top: 								2vh;
	}

	.fontm
	{
    font-size: 									1em;
  }

	.sousTitre
	{
    font-size: 									1.3em;
	}

	.fontpxs
	{
		font-size: 									1em;
	}

	.small2
	{
    margin-right: 							5vw;
    font-size: 									1em;
	}

	.pagepro
	{
		padding: 										0vh 2vw;
		margin: 										0 0 0 0;
	}

	.rowFoot
	{
    padding: 										2vh 5vw 5vh 5vw;
	}

	.centermedia
	{
		text-align: 								center;
	}

	.listeDev ul
	{
		height: 										88vh;
	}

}
